/* Save an empty style text box to reload the defaults */

/* Buttons in Content - create a shadowed box for the buttons */ 
.ngfb-content-buttons { 
	display:block;
	padding:2px;
	margin:20px auto 20px auto;
	text-align:center;
	background-color:#eee;
	-moz-box-shadow:0 0 5px #aaa;
	-webkit-box-shadow:0 0 5px #aaa;
	box-shadow:0 0 5px #aaa;
	border-radius:5px;	/* Round off the box */
}
