/* Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be 
 * necessary to customize the layout for your website. Social sharing
 * buttons can be aligned vertically, horizontally, floated, etc.
 */

#ngfb-sidebar { 
	cursor:pointer;
	text-align:center;
	position:fixed;
	z-index:99;

	/* position 20% down from top and 485px left of center */
	top:20%;
	right:50%;
	margin:0 485px 0 0;

}

/* show a large sharing icon at the top */
#ngfb-sidebar-header { 
	width:72px;
	height:72px;

	/* modify the share icon for the sidebar here */
	background-image:url("{{URLPATH}}images/share-icon-1.png");
	background-repeat:no-repeat;
	background-position:center;
}

/* hide the buttons by default and show/hide on hover/click */
#ngfb-sidebar-buttons { 
	width:0;		/* hide by default */
	height:0;		/* hide by default */
	overflow:hidden;	/* hide by default */
	border-style:none;	/* hide by default */

	/* create a shadowed box with a light grey background */
	border-radius:5px;
	background:none repeat scroll 0% 0% rgb(250, 250, 250);
	box-shadow:0px 0px 5px rgb(120, 120, 120);
	border-width:1px;
	border-color:rgb(255, 255, 255);
}

/* pre-define the width and height of each button for faster load */
/* note: the large buttons with vertical counters are 55x65px */
#ngfb-sidebar .ngfb-buttons > div { 
	display:block;
	text-align:center;
	width:60px;	/* button with large vertical counter */
	height:65px;	/* button with large vertical counter */
	margin:10px 5px;
}

/* fix for the pinterest button */
#ngfb-sidebar .ngfb-buttons div.pinterest-button > a { vertical-align:bottom !important; }

/* fix for the tumblr button, which does not have a vertical counter */
#ngfb-sidebar .ngfb-buttons div.tumblr-button { height:20px; line-height:20px; }
