.ngfb-qtip-content {
	font-family:Verdana, sans-serif;
	margin:5px;
}
table.ngfb-settings .pro_feature {
	margin:0 0 5px 0;
}
table.ngfb-settings td .max_chars {
	color:#666;
	margin:0;
}
table.ngfb-settings td .max_chars .good {
	font-weight:bold;
	color:#090;
}
table.ngfb-settings td .max_chars .bad {
	font-weight:bold;
	color:#900;
}
table.ngfb-settings { 
	padding:10px;
	margin:0;
	width:100%;
}
table.ngfb-settings h3 { 
	padding:0		!important;
	margin:20px 0 10px 0	!important;
	background:none;
}
table.ngfb-settings pre {
	padding:10px;
	background-color:#eee;
	border:1px solid #ddd;
	white-space:pre;
	overflow:auto;
}
table.ngfb-settings pre code {
	background-color:#eee;
}
table.ngfb-settings ul { 
	margin-left:20px;
	list-style-type:circle;
}
table.ngfb-settings tr { 
	vertical-align:top;
}
table.ngfb-settings th { 
	text-align:right;
	white-space:nowrap; 
	padding:0 10px 0 4px; 
	min-width:300px;
	width:300px;
}
table.ngfb-settings th img.ngfb_tooltip { 
	margin:0 0 0 10px; 
	vertical-align:middle; 
	cursor:pointer;
}
table.ngfb-settings th.taglist { 
	text-align:left;
	min-width:120px;
	width:120px;
}
table.ngfb-settings th.short { 
	min-width:145px;
	width:145px;
}
table.ngfb-settings th.side { 
	padding:0 2px 0 2px; 
	min-width:60px;
	width:60px;
}
table.ngfb-settings td { 
	padding:0 4px 0 4px;
}
table.ngfb-settings td.taglist { 
	text-align:right;
	min-width:15px;
	width:15px;
}
table.ngfb-settings td p { 
	color:#666;
	margin:0 0 10px 0;
}
table.ngfb-settings td.textarea { 
	height:42px;
}
table.ngfb-settings td.second { 
	width:250px;
}
table.ngfb-settings td.blank { 
	min-width:100px;
	background-color:#eee; 
	border:1px dashed #ccc;
}
table.ngfb-settings td.blank p { 
	margin:5px;
}
table.ngfb-settings td#latest_notice p { 
	margin:10px 0 5px 0;
}
table.ngfb-settings td select { 
	height:22px;
}
table.ngfb-settings td select,
table.ngfb-settings td input,
table.ngfb-settings td textarea { 
	margin:0 0 5px 0; 
}
table.ngfb-settings td input[type=text] { 
	height:23px; 
	width:250px;
}
table.ngfb-settings td input[type=text].short { width:50px; }
table.ngfb-settings td input[type=text].wide { width:100%; }
table.ngfb-settings td input[type=radio] { 
	vertical-align:top; 
	margin:4px 4px 4px 0;
}
table.ngfb-settings td input[type=button] { 
	margin:10px 0 0 0;
}
table.ngfb-settings td textarea { 
	padding:2px; 
}
table.ngfb-settings td textarea.wide { 
	width:100%; 
}
table.ngfb-settings td textarea.large { 
	width:100%; 
	height:60em; 
}
table.ngfb-settings td select { width:250px; }
table.ngfb-settings td select.short { width:100px; }
table.ngfb-settings td select.medium { width:160px; }
