#ngfb_meta.postbox {
	border:0 solid transparent;
}
#ngfb_meta .inside {
	padding:0;
	margin:0;
}
div.sucom-metabox-tabs {
	margin:10px 0 0 0;
}
ul.sucom-metabox-tabs,
.sucom-settings ul.sucom-metabox-tabs {
	display:none;
	list-style:none;
	font-size:12px;
	line-height:23px;
	height:32px;
	max-height:23px;
	min-height:23px;
	margin:12px 0 0 0;
}
.sucom-metabox-tabs li {
	display:inline;
	padding:5px 10px 5px 10px;
	margin:0 0 0 5px;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-top:1px dotted #ddd;
	border-left:1px dotted #ddd;
	border-right:1px dotted #ddd;
}
.sucom-metabox-tabs li.active {
	font-weight:bold;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #f6f6f6;
}
ul.sucom-metabox-tabs a,
ul.sucom-metabox-tabs a:active {
	outline:none;
	text-decoration:none;
}
.sucom-tab {
	display:none;
}
.sucom-tab.active {
	display:block;
	overflow:auto;
	border:1px solid #ddd;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	background-color:1px solid #f6f6f6;
	margin:0;
}
.sucom-tab_meta.active { min-height:410px; }
.sucom-tab_og.active { min-height:325px; }
.sucom-tab_pub.active { min-height:300px; }
.sucom-tab_fb.active { min-height:313px; }
.sucom-tab_cm.active { min-height:275px; }
.sucom-tab_plugin.active { min-height:210px; }
